
.disCons{
    margin: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px;
    height: 100vh;
    width: 90%;
    border-radius: 10px;

}
.disCons:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}