.header{

    height: 50px;
    width: auto;
    margin: 0 auto;
    padding: 5px;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 33px;
    padding-top: 15px;
    text-shadow: 2px 2px 4px #888888
}