.table_container{
      margin: 30px 20px;
      border-style: dotted;
      
}

.dataTable{
    width: auto;
    border-collapse: collapse;
    width: 100%;
    height: 200px;
    margin-top: 10px;

}

.dataTable th{
  
    padding: 4px;
    border: 2.8px solid #ddd;
    text-align: center;
    height: 50px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: blue;

}

 .dataTable td{
  
    padding: 4px;
    border: 2.8px solid #ddd;
    text-align: center;
    height: 50px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    /* min-width:  */

}

.ava{
    color: green;

}
.unava{
    color: red;
}